<h1>Edit with manual address entry</h1>

<p>
<%= text_field_tag :street, '', placeholder: 'Street' %>
</p>
<p>
<%= text_field_tag :city, '', placeholder: 'City' %>
</p>
<p>
<%= text_field_tag :state, '', placeholder: 'State'%>
</p>
<p>
<%= text_field_tag :postcode, '', placeholder: 'Postcode'%>
</p>
